
@import "~@flaticon/flaticon-uicons/css/all/all";
body {
  background-color: white;
  margin: 0;
}
.page {
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem); 
  width: 100%;
  padding: 0;
  margin-top: 0;
  z-index: 2;
}
.info-reg{
  background-color: #ccc;
  color: #000000;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  height: fit-content;
  font-family: 'Copperplate Gothic', sans-serif;
}
.info-reg1{
  background-color: #ccc;
  color: #000000;
  border-radius: 10px;
  padding: 30px;
  width: max-content;
  height: fit-content;
  font-family: 'Copperplate Gothic', sans-serif;
}
.image-prelogin {
  background-image: url('/src/images/Lend-In.png');
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 100vh; 
  width: 100%;
  padding: 0;
}
.image-postlogin {
  background-image: url('/src/images/after.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
  width: 100%;
}

.section {
  /* margin-top: 7rem; */
  color: #f7f9fa;
  width: 50vw;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
}

.name-card{
  margin-top: 0;
  background-color: #1fa4cd;
  color: #080808;
  padding: 10px;
  border-radius: 10px
}
.name-card:hover{
  margin-top: 0;
  background-color: #080808;
  color: #1fa4cd;
  padding: 10px;
  border-radius: 10px
}
.header,
.subheader {
  color: black;
}

a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 4px;
}

a:hover {
  color: #021f3d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #394756; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #000000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.btn:active {
  transform: translateY(
    1px
  ); 
}
.GLG{
  margin:120px;
  margin-left: 65%;
  background-color: #faf9fb;
  height: 150px;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
}
.info-form-login {
  width: 400px;
  height: 200;
  margin-left: auto;
  margin-right: 7rem;
  margin-top: 5rem;
  margin-bottom: auto; 
  padding: 10px;
  background-color: #f8f5f5;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Copperplate Gothic', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.google-login{
  margin-top: 50px;
}
.info-form {
  max-width: 400px;
  margin-left: auto;
  margin-right: 7rem;
  margin-bottom: auto; /* Move the element to the right */
  padding: 10px;
  background-color: #f8f5f5;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Copperplate Gothic', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.info-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-form input[type='text'],
.info-form input[type='email'],
.info-form input[type='password'],
.info-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.info-form input[type='file'] {
  margin-bottom: 20px;
}

.info-form button {
  background-color: #0e0e0e;
  color: rgb(244, 240, 240);
  width: 100%;
  margin: auto;
  padding: 10px 20px;
  right: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.info-form button:hover {
  background-color: #fbf9f9;
  color: rgb(18, 18, 18);
  width: 100%;
  margin: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.info-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #111111;
  border-radius: 5px;
  box-sizing: border-box;
}

.info-form select:focus,
.info-form input:focus {
  outline: none;
  border-color: #111111;
  box-shadow: 0 0 5px rgba(248, 251, 248, 0.5);
}
.radio-form {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.radio-btn {
  display: flex;
  justify-content: center;
}
.info-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-form-login input[type='text'],
.info-form-login input[type='email'],
.info-form-login input[type='password'],
.info-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.info-form-login input[type='file'] {
  margin-bottom: 20px;
}

.info-form-login button {
  background-color: #0e0e0e;
  color: rgb(244, 240, 240);
  width: 100%;
  margin: auto;
  padding: 10px 20px;
  right: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.info-form-login button:hover {
  background-color: #fbf9f9;
  color: rgb(18, 18, 18);
  width: 100%;
  margin: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.info-form-login select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #111111;
  border-radius: 5px;
  box-sizing: border-box;
}

.info-form-login select:focus,
.info-form-login input:focus {
  outline: none;
  border-color: #111111;
  box-shadow: 0 0 5px rgba(248, 251, 248, 0.5);
}

.guide-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* ensure it's on top of other elements */
}

.guide-content {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* drop shadow effect */
  max-width: 600px; /* adjust max width as needed */
  max-height: 80vh; /* adjust max height as needed */
  overflow-y: auto; /* enable vertical scrolling if content exceeds max height */
}

.guide-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url('/src/images/x.jpg');
  background-size: cover;
}
