.card {
  max-width: 400px;
  margin: 20px auto;
  /* background-color: #f1ecec; */
  border-radius: 10px;
  /* font-weight: bold; */
  font-family: 'Copperplate Gothic', sans-serif;
  box-shadow: 0 0 30px rgba(248, 3, 3, 0.1);
}
.card-header {
  padding: 10px;
  background-color: #080808;
  /* font-weight: bold; */
  font-family: 'Copperplate Gothic', sans-serif;
  color: rgb(248, 247, 247);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-body p {
  /* font-size: small; */
  color: rgb(246, 245, 244);
  margin-bottom: 10px;
}

.card-body strong {
  color:#f6f8f8;
  font-weight: bold;
}
.Ticket-btn {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Copperplate Gothic', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(244, 244, 241);
  background-color: rgb(15, 15, 15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Ticket-btn:hover {
  color: rgb(15, 14, 14);
  background-color: rgb(221, 224, 218);
  font-weight: bold;
  font-family: 'Copperplate Gothic', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
